[mysqld]
user					= mysql 
bind-address			= LISTENIP	#监听IP,设置为主库
port					= 3306		#监听端口
character_set_server	= utf8		#默认字符集编码	
max_connect_errors		= 100000
max_connections			= 500
server-id				= 1000
skip_name_resolve
datadir					= /opt/data/mysql
log-error 				= /var/log/mysql/mysql-error.log
socket					= /var/lib/mysql/mysql.sock
pid-file				= /var/run/mysqld/mysqld.pid
back_log				= 2000	#创建TCP连接时，允许的最大同时未完成的连接个数(主要适用于短连接场景)
binlog-format			= MIXED	#Binlog写入格式，共有ROW/STATEMENT/MIXED三种可选。一般使用MIXED
log-bin					= /opt/data/mysql/mysql-bin.log	 #Binlog日志保存路径
expire_logs_days		= 3		#Binlog保留时间(单位:天)
max_binlog_size 		= 100M	#每个binlog日志大小
binlog_cache_size 		= 4M	#binlong缓存大小
max_binlog_cache_size 	= 512 	#最大binlog缓存大小
symbolic-links			= 0

